* {
    padding: 0%;
    margin: 0%;
}


#centria-nosotros {
    background: #3A6D9C;
    display: flex;
    flex-direction: column;
    width: 140px;
}

#centria-usuarios {
    background: #87689B;
    display: flex;
    flex-direction: column;
    width: 150px;
}

#centria-portales {
    background: #B7C72C;
    display: flex;
    flex-direction: column;
    width: 150px;
}

#centria-salas {
    display: flex;
    flex-direction: column;
    background: #5FACB8;
    width: 150px;
}

#centria-users {
    background: #D68500;
    display: flex;
    flex-direction: column;
}

.search {
    width: 60%;
    display: flex;
    margin:60px;
  }

  .searchTerm {
    border: 3px solid #DBD4D2;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #DBD4D2;
  }

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #DBD4D2;
    background: #DBD4D2;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

ul {
    margin-top: 0%;
}

.nav-link {
    align-self: center;
    margin-top: 10px;
}

.log {
    width: 25%;
    height: 30%;
    margin-left: 50px;
}

.padre {
    display: flex;
    justify-content: space-around;
}

#carouselExampleControls {

    display: flex;
    align-items: center;
}

.carousel-inner {
    margin-left: 50px;
    margin-right: 50px;
}

#user-icon {
    text-align-last: center;

}

/* #cuenta-user{
    margin-top: 20px;} */


.centria {
    display: block;

    background-color: rgba(255, 255, 255, .15);
    width: 70px;
    height: 60px;

    padding: 10px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow .4s;
}

p.texto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    /* padding-top:10px;
        opacity: .6;
        -webkit-transition: padding-top .4s; */
}

/* li.nav-item:hover{
        height:250px;
    }
    
    li.nav-item:hover p.texto{
        padding-top: 30px;
        opacity: 1;
    } */

li.nav-item:hover img.centria {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}

.card {
    margin-top: 32px;
    margin-left: 40px;
    height: 10px;
}

.noticias {

    width: 80px;

}

.card-text {
    color: black;
    padding-top: 30px;
    font-size: 21px;
}

body {
    background: #ffff;
    color: #0e171c;
    font: 300 100%/1.5em 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: .25em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: .33em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#hijo-contenedor{
    display: flex;
} 

/* ---------- CALENDAR ---------- */

.calendar {
    text-align: center;
    color: #3A6D9C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #3A6D9C;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #3A6D9C;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #3A6D9C;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #3A6D9C;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}

.contenedor-padre {
    display: flex;

}

.beneficios-div {
    display: flex;
    margin: 20px;
    cursor: pointer;
}

.img-beneficios {
    margin: 10px;
}

#beneficios:hover {
    box-shadow: 10px 10px 10px #B7C72C;
    border-radius: 5px;
}

#integridad:hover {
    box-shadow: 10px 10px 10px #3a6d9c;
}

#oportunidades:hover {
    box-shadow: 10px 10px 10px #87689B;
}


#copyright {
    color: black;
}



/* -----imagen */
.contenedorPersonal {
    display: flex;
    width: 20%;
    flex-direction: row;
    align-content: center;
}

.imagen-personal {
    width: 6em;
    border-radius: 4em;

}

/*--------*/
.quienesSomos {
    display: flex;
    justify-content: space-around;
}

.imagenSomos {
    height: 70%;
}

.textoNosotros {
    margin: 10px;
}

/* .imagenCumple {
    width: 5%;
    height: 40px !important;
  
    -webkit-animation: rotateAndShrink 3s linear infinite 2.5s;
    animation: rotateAndShrink 3s linear infinite 2.5s;
    position:fixed
} */
/* 
@-webkit-keyframes rotateAndShrink {
    0% {
        width: 40px
    }

    5% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        width: 26px
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        width: 40px
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 40px
    }
} */

/* REDISEÑANDO LOGO */
.navbar-brand img {
    height: 4rem;
    padding-left: 3rem;
}

.navbar-nav {
    margin-right: 3rem;
}

.navbar-nav li {
    padding: 0 1rem;
}

.navbar-nav li {
    padding: 0 1rem;
}

.navbar-nav .nav-item .nav-link {
    color: #3a6d9c !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #3a6d9c !important;
}

.fa-bars {
    color: #3a6d9c !important;
    font-size: 25px !important;
}

.navbar-toggler {
    outline: none !important;
}


.google-calendar{
    margin:30px;
}

.imagenCumple {
    width: 37%;
    height: 91px!important;
    position: relative;
    -webkit-animation: rotateAndShrink 3s linear infinite 2.5s;
    animation: rotateAndShrink 3s linear infinite 2.5s;
}
.div-acceso-directo{
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-acceso-directo p {
    color: #3a6d9c;
    font-weight: 500;
  
}
.cuadrado-ad{
  
 align-self: center;
 text-align: center;
}
.cuadrado-ad img {
    width: 70%;
}
.mes{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-bottom: 1em;
    font-weight: 800;
    color:rgb(224, 80, 24);
}
.contenedorProducto {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parrafo {
    width: 75%;
    padding: 1em;
    display: flex;
    color: orange;
    font-weight: 100;
}
.pilares {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 8em;
    padding-top: 6em
}
.imagen-pilares{
    display: flex;
    width: 20%;
}
.labe {
    display: inline-block;
    margin-bottom: .5rem;
    padding-top: 3em;
    padding-left: 3em;
    color: #3a6d9c;
}
.titulo-pilares{
    color:orange;
}
@media (max-width: 900px) {
    #centria-nosotros {
        width: 100%;
    }

    #centria-usuarios {
        width: 100%;
    }

    #centria-portales {
        width: 100%;
    }

    #centria-salas {
        width: 100%;
    }

    #centria-users {
        width: 100%;
    }

}

@media (min-width: 900px) {
    #centria-nosotros {
        width: 100%;
    }

    #centria-usuarios {
        width: 100%;
    }

    #centria-portales {
        width: 100%;
    }

    #centria-salas {
        width: 100%;
    }

    #centria-users {
        width: 100%;
    }
}

@media (max-width: 900px) {
 .contenedor-padre{
     display: flex;
     justify-content: flex-start;
    flex-direction: column;
 }
 .google-calendar{
    margin:30px;
}
}
/* .imagenCumple {
    background: #87689B;
    border-radius: 19px;
    width: 5%;
    height: 40px!important;
    position: relative;
    -webkit-animation: rotateAndShrink 3s linear infinite 2.5s;
    animation: rotateAndShrink 3s linear infinite 2.5s;
} */
.facebook {
    width: 2em;
}
.instagram {
    width: 1.6em;
}
.linkelin {
    width: 2.6em;
}
.redSocial {
    text-align: center;
}
.tableNosotros {
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
}
.tdImagen {
    padding-right: 11%;
}
.txtNosotros {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #E2A900;
    padding-right: 3em;
}
.txtDescriptcion {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #3A6DAC;
}
.icono {
   width: 23px;
   margin-right: 8px;
}
.iconoRegalo {
    display: inline-block;
    position: fixed;
    right: -154px;
    bottom: 0;
}
 .list-group {
     display: none;
 }
 .list-group:hover {
     display: inline;
 }
.facebook{
    width: 41px;
}
.instagram{
    width: 30px;
}
.linkelin{
    width: 50px;
}
.hover{
  width: 100%;
  height: 30%;
  margin: 50px;
}
.submenu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.estiloAccesoDirecto {
    display: flex;
}
.txtAcceso {
    color: #3a6d9c;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding-bottom: 31px;
}
.Nosotros {
    background-repeat: #3A6D9C;
}
.noDecoration {
    text-decoration: none!important;
    font-size: 20px;
    font-weight: 800;
}